{{!--create an account page --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5">
    <a class="navbar-brand" href="/dashboard">
        <img class="logoGo" src="/images/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard"> ← Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

</nav>

<div class="conatiner">
    <br><br>

    <div class="row">

        <div class="col-lg-4"></div>

        <div class="sign-in col-lg-4 text-center">

            <br>

            <p>Sign up to create an account.</p>

            <form action="/api/user" method="POST">
                Name:<br>
                <input type="text" name="name" value="">
                <br><br>
                Email:<br>
                <input type="text" name="email" value="">
                <br><br>
                Password:<br>
                <input type="password" name="password" value="">
                <br><br>
                <input type="submit" class="signBtn" value="Sign up!">
            </form>

            <br>

        </div>

        <div class="col-lg-4"></div>

    </div>

    <br><br>

    <div class="footer">
        <p>© Copyright 2019</p>
    </div>
</div>